nav{
    margin: 0px;
    padding: 0%;
}


nav > ul {
    list-style-type: none;
    border: 2px solid black;
    height: 40px;
    background-color: black;


    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

a {
    margin: 40px;
    text-decoration: none;
    color: white;
}

.nology {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid green;
    background-color: green;
    height: 40px;
    color: white;
}

main {
    display: inline-flex;
}

main > .leftpanels {
    width: 200px;
}

main > .leftpanels > #panelA {
    border: 2px solid black;
}