nav{
    display: inline-flex;
    margin: 0px;
    padding: 0%;
}


nav > ul {
    list-style-type: none;
    border: 2px solid black;
    height: 40px;
    width: 67em;
    background-color: black;


    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

a {
    margin: 40px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: blueviolet;
    color: yellow
}

.nology {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid green;
    background-color: green;
    height: 40px;
    color: white;
}

main {
    display: inline-flex;
}

.leftpanels {
    width: 50em;
    padding: 10px;
    margin: 10px;
}

.rightpanel {
    width: 20em;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.panel-1 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.panel-2 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.panel-3 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}